%main.container
  #slider.carousel.slide{'data-ride': "carousel"}
    %ol.carousel-indicators
      - @slider_items.each_with_index do |item, index|
        %li{'data-target': "#slider", 'data-slide-to': index, class: ('active' if index.zero?) }
    .carousel-inner{role: "listbox"}
      - @slider_items.each_with_index do |item, index|
        %div{class: item.class_for_slide(index)}
          .row
            .col-sm-5
              .general-img-wrap
                = cl_image_tag(book_main_image(item), class: 'img-shadow general-thumbnail-img')
            .col-sm-7
              .mb-60
                %h1= item.title
                - unless item.description.empty?
                  %p.lead= item.description
                %p.lead.small= item.authors
                .general-align
                  %button{class: item.quantity.zero? ? "disabled btn" : 'btn btn-primary'} Buy Now
    %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
      %span.icon-prev{'aria-hidden': "true"}
      %span.sr-only Previous
    %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
      %span.icon-next{'aria-hidden': "true"}
      %span.sr-only Next
.container
  .jumbotron.text-center.mb-0
    %h2.h1= t('main.welcome')
    .mb-res-50
      %p= t('main.welcome_subphrase')
    = link_to t('main.welcome_btn'), categories_path, class: 'btn btn-default'
  .mb-35
    %h3= t('main.best_sellers')
    .row
      - @best_sellers.each do |book|
        = render 'partials/book', book: book.decorate, disabled: book.quantity.zero?
