%main.container
  = link_to(category_path(@book.category_id), class: 'general-back-link') do
    %i.fa.fa-long-arrow-left.mr-15
    Back to results
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          = cl_image_tag(book_main_image(@book), class: 'img-responsive')
        .images.clearfix
          - if @book.images.length > 1
            - @book.images.offset(1).each do |image|
              = link_to '#', class: 'img-link' do
                = cl_image_tag(image.path)
    .col-sm-6
      %h1.mt-res-0= @book.title
      %p.lead.small= "#{@book.author.firstname} #{@book.author.lastname}"
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10
            €
            = @book.price.to_f
        .col-xs-5.col-md-3
          .input-group.general-position
            %a.input-link{href: "#"}
              %i.fa.fa-minus.line-height-40
            %input.form-control.quantity-input{type: "text"}
            %a.input-link{href: "#"}
              %i.fa.fa-plus.line-height-40
        .col-xs-7.col-md-5
          %button.btn.btn-default.pull-right.general-position Add to Cart
      .general-info-wrap.divider-lg
        - unless @book.description.empty?
          %p Description
          %p.lead.small.line-height-2= @book.description
  .mb-80
    %h3.in-gold-500.mb-25
      Reviews (
      = @reviews ? @reviews.length : 0
      )
    - if @reviews
      - @reviews.each do |review|
        .general-message-wrap.divider-lg
          .clearfix
            %img.img-circle.logo-size.inlide-block.pull-left{src: "https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg"}
            .ml-70
              %div
                .general-message-date.hidden-xs= review.created_at.to_time.strftime('%d/%m/%y')
                .max-240
                  .general-message-verified Verified Reviewer
                  .general-message-name= "#{review.customer.firstname} #{review.customer.lastname}"
                  .mb-15
                    - review.rate.times do
                      %i.fa.fa-star.rate-star
                      %p= review.review
