%main.container
  = link_to(category_path(@book.category_id), class: 'general-back-link') do
    %i.fa.fa-long-arrow-left.mr-15
    Back to results
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          = cl_image_tag(book_main_image(@book), class: 'img-responsive')
        .images.clearfix
          - if @book.images.length > 1
            - @book.images.offset(1).each do |image|
              = link_to '#', class: 'img-link' do
                = cl_image_tag(image.path)
    .col-sm-6
      %h1.mt-res-0= @book.title
      %p.lead.small= @book.authors
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10
            €
            = @book.price.to_f
        .col-xs-5.col-md-3
          .input-group.general-position
            %a.input-link{href: "#"}
              %i.fa.fa-minus.line-height-40
            %input.form-control.quantity-input{type: "text"}
            %a.input-link{href: "#"}
              %i.fa.fa-plus.line-height-40
        .col-xs-7.col-md-5
          %button.btn.btn-default.pull-right.general-position Add to Cart
      - unless @book.description.blank?
        .general-info-wrap.divider-lg
          %p Description
          %p.lead.small.line-height-2= @book.description
      - unless @book.publication_year.blank?
        .general-info-wrap.divider-lg
          .clearfix
            %p.pull-left Year of publication
            %p.lead.small.pull-right= @book.publication_year
      - unless @book.dimensions.blank?
        .general-info-wrap.divider-lg
          .clearfix
            %p.pull-left Dimensions
            %p.lead.small.pull-right= @book.dimensions
      - unless @book.material.blank?
        .general-info-wrap.divider-lg
          .clearfix
            %p.pull-left Materials
            %p.lead.small.pull-right= @book.material
  = render 'books/make_review'
  = render 'books/reviews'
