%main.container
  = link_to(category_path(@book.category_id), class: 'general-back-link') do
    %i.fa.fa-long-arrow-left.mr-15
    Back to results
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          = cl_image_tag(book_main_image(@book), class: 'img-responsive')
        .images.clearfix
          - if @book.images.length > 1
            - @book.images.offset(1).each do |image|
              = link_to '#', class: 'img-link' do
                = cl_image_tag(image.path)
    .col-sm-6
      %h1.mt-res-0= @book.title
      %p.lead.small= @book.decorate.authors
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10
            €
            = @book.price.to_f
        .col-xs-5.col-md-3
          .input-group.general-position
            %a.input-link{href: "#"}
              %i.fa.fa-minus.line-height-40
            %input.form-control.quantity-input{type: "text"}
            %a.input-link{href: "#"}
              %i.fa.fa-plus.line-height-40
        .col-xs-7.col-md-5
          %button.btn.btn-default.pull-right.general-position Add to Cart
      .general-info-wrap.divider-lg
        - unless @book.description.empty?
          %p Description
          %p.lead.small.line-height-2= @book.description
  .mb-20.make-review
    .row
      .col-md-5.col-xs-10
        - if can? :create, @review
          = simple_form_for @review, validate: true do |f|
            = f.input :name, placeholder: 'John Doe', input_html: { value: current_user.name },
              label_html: { class: 'input-label' }, label: 'Your name'
            = f.input :comment_text, placeholder: 'Very good review',
              label_html: { class: 'input-label' }, label: 'Your review', as: :text
            = f.hidden_field :rating, value: 10
            = f.hidden_field :book_id, value: @book.id
            = f.hidden_field :user_id, value: current_user.id
            = f.hidden_field :avatar, value: current_user.image
            .mb-15.review-rating
              - 10.times do |time|
                %i.fa.fa-star{id: "star-#{time + 1}"}
            = f.button :submit, value: 'Send review'
  .mb-80
    %h3.in-gold-500.mb-25
      Reviews (
      = @reviews ? @reviews.length : 0
      )
    - if @reviews
      - @reviews.each do |review|
        .general-message-wrap.divider-lg
          .clearfix
            - if review.avatar.blank?
              %span.img-circle.logo-size.inlide-block.pull-left.logo-empty= review.name.first.upcase
            - else
              = image_tag(review.avatar, class: 'img-circle logo-size inlide-block pull-left')
            .ml-70
              %div
                .general-message-date.hidden-xs= review.created_at.to_time.strftime('%d/%m/%y')
                .max-240
                  - if review.verified
                    .general-message-verified Verified Reviewer
                  .general-message-name= review.name
                  .mb-15
                    - review.rating.times do
                      %i.fa.fa-star.rate-star
                    %p= review.comment_text
