<!DOCTYPE html>
%html
  %head
    %title Bookstore
    = csrf_meta_tags
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if notice
      %div.alert.alert-success.text-center= notice
    - if alert
      %div.alert.alert-danger.text-center= alert

    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
